body {
	margin: 0px;
	padding: 0px;
}
.moderator-main {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
}
.moderator-controls {
	width: 35%;
	background-color: rgb(206, 206, 206);
}
.mod-question-section {
	width: 65%;
	background-color: rgb(179, 179, 179);
	position: relative;
}
.mod-question-section > li {
	margin: 10px;
}
/* ---------------------------Room control Section---------------------------------- */

.moderator-controls {
	display: flex;
	flex-direction: column;
}
.mod-child {
	width: fit-content;
	align-self: center;
}
.kick-button {
	display: block;
	border: none;
	outline: none;
	font: inherit;
	font-style: normal;
	width: 20%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.moderator-user-list {
	width: auto;
	background-color: rgb(138, 138, 138);
	max-height: 200px;
	padding: 5px 5px 0.1px 5px;
	border-radius: 5px;
	align-self: center;
	overflow-y: auto;
}
.moderator-user-list-item {
	height: 40px;
	background-color: rgb(49, 224, 166);
	display: flex;
	border-radius: 5px;
	margin-bottom: 5px;
	color: white;
	font-weight: 600;
}

.list-username {
	height: fit-content;
	font-size: 20px;
	width: 80%;
	align-self: center;
	text-align: center;
}

.no-clients {
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 600;
}

.toggle-allow-questions {
	display: block;
	border: none;
	outline: none;
	font: inherit;
	font-style: normal;
	border-radius: 5px;
	font-size: 15px;
	padding: 7px;
	margin: 0px auto;
}

.panel-heading {
	text-align: center;
	width: 90%;
	font-size: 30px;
	margin: 10px;
}

.room-control-heading {
	font-size: 50px;
	margin-bottom: 10px;
}

.room-controls {
	width: 90%;
	padding: 7px;
	background-color: rgb(179, 179, 179);
	border-radius: 5px;
}
.room-controls > div {
	margin-bottom: 7px;
}

.connected-users {
	font-size: 20px;
}

.admin-pass-container {
	position: absolute;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.admin-pass-input {
	display: block;
}
.admin-pass-form {
	display: block;
	align-self: center;
}
.mod-loading {
	width: fit-content;
	height: fit-content;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 40px;
}
