body {
	box-sizing: border-box;
	font-family: "Source Code Pro", monospace;
}
.question-container {
	margin: 10px auto;
	margin-top: 20px;
	width: 90%;
	padding: 1px;
	height: fit-content;
	background-color: #d9d9d9;
	border-radius: 5px;
}

.no-list-text {
	text-align: center;
	font-size: 30px;
	color: gray;
	height: fit-content;
	margin: 0px;
	padding: 10px;
}
.no-list-text::after {
	display: inline-block;
	height: 0px;
	font-size: 35px;
	content: ".";
	animation: dots 1.5s steps(5, end) infinite;
}

.question-box {
	margin: 9px;
	padding: 10px;
	background-color: #f7f7f7;
	border-radius: 5px;
}
.btn-voteup {
	cursor: pointer;
	color: #6e6a69;
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}
.btn,
.btn-fixed {
	margin: 10px auto;
	padding: 15px 30px;
	border-radius: 10px;
	background-color: #f7f7f7;
	text-align: center;
	width: fit-content;
	cursor: pointer;
	font-size: 15px;
	outline: none;
	border: none;
	display: block;
	font: inherit;
}

.btn-fixed {
	width: 10rem;
}

.text-area {
	padding: 30px;
	border-radius: 20px;
	font-family: "Source Code Pro", monospace;
	resize: none;
	border: none;
	background-color: #fafafa;
	box-shadow: 10px 15px 27px -5px rgba(224, 224, 224, 1);
	font-size: 15px;
	margin-bottom: 20px;
	transition: ease-in-out 0.4s;
	color: black;
	margin: 10px;
	margin-bottom: 20px;
}

.text-area:focus {
	outline: none;
	border-radius: 20px;
	background-color: #e8e8e8;
	box-shadow: none;
}

.textbox-shell {
	display: flex;
	justify-content: center;
}

.btn-delete {
	cursor: pointer;
	color: #6e6a69;
	margin: 0;
	padding: 0;
}

.form-area {
	width: 90%;
	height: fit-content;
	position: absolute;
	margin: auto;
	top: 0px;
	bottom: 0px;
	right: 0px;
	left: 0px;
}
.btn-loading {
	font-size: 15px;
}
.btn-loading::after {
	padding: 0px;
	margin: 0px;
	display: inline;
	font-size: 25px;
	content: ".";
	animation: dots 1.5s steps(5, end) infinite;
}

@keyframes dots {
	0%,
	20% {
		color: gray;
		text-shadow: 0.25em 0 0 grey, 0.5em 0 0 gray;
	}
	40% {
		color: white;
		text-shadow: 0.25em 0 0 gray, 0.5em 0 0 gray;
	}
	60% {
		text-shadow: 0.25em 0 0 white, 0.5em 0 0 gray;
	}
	80%,
	100% {
		text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
	}
}
